#Ignore Server_Saves_Backups_Archives
0_Server_Saves_Backups/*.zip
0_Server_Saves_Backups/*.7z
0_Server_Saves_Backups/*.rar
0_Server_Saves_Backups/*.tar

#Ignore Blood-N-Wine-2-Server-Export-Local
Blood-N-Wine-2-Export/Blood-N-Wine-2-Server-Local/*

#Ignore Blood-N-Wine-2-Server-Export
Blood-N-Wine-2-Export/Blood-N-Wine-2-Server-Export/*

#Ignore Blood-N-Wine-2-Technic-Export
Blood-N-Wine-2-Export/Blood-N-Wine-2-Technic-Export/*

#Ignore Blood-N-Wine-2-Curseforge-Export
Blood-N-Wine-2-Export/Blood-N-Wine-2-Curseforge-Export/*

#Ignore Blood-N-Wine-2-Modrinth-Export
Blood-N-Wine-2-Export/Blood-N-Wine-2-Modrinth-Export/*

#Ignore folders
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
capes
downloads
fancymenu_data
fancymenu_setups
*.launch

#logs
*.log
logs/
crash-reports
dumps

#worlds
saves/

screenshots
simple-rpc
tconplanner

reauth.toml
usercache.json
usernamecache.json

#hs_err_pid larp
hs_err_pid*.log

#servers
servers.dat_old

#.bak files
*.bak

#ignore temp files
*.ogg_
*_.ogg
*_converted.ogg
*-converted.ogg

#ignore backup mods and audio folder
mods_backup
bloodnwine2_backup

#ignore modrinth pack
Blood N Wine 2 2.1.mrpack

#ignore sound compression presets
bloodnwine2-128kbs-48khz-5-Reduc
bloodnwine2-128kbs-48khz-5-Reduc.7z
bloodnwine2-96kbs-48khz-25-Reduc
bloodnwine2-96kbs-48khz-25-Reduc.7z
bloodnwine2-64kbs-48khz-50-Reduc
bloodnwine2-64kbs-48khz-50-Reduc.7z

#ignore closed perms list for exporting to Modrinth
mods_-_closed_perms_list_for_exporting_to_Modrinth.7z

#ignore Blood-N-Wine-2-Music Test Folders
0_Blood-N-Wine-2-Assets/resourcepacks/Blood-N-Wine-2-Music

#ignore Blood-N-Wine-2-Music Archive
Blood-N-Wine-2-Music.zip

#ignore cache
lightspeed-cache

#ignore oculus.properties to fix users getting shaders force enabled
oculus.properties

#ignore bloodnwine2resources extraction_cache.bomb to prevent sound files from not extracting
#due to the program thinking the songs folder is already installed
extraction_cache.bomb

#ignore options.txt
options.txt